.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.userAvo {
	position: absolute;
	max-width: 9999px !important;
	width: 100% !important;
	height: 297.51px;
	object-fit: cover;
}

.userInfo {
	margin-bottom: 250px;
	position: absolute;
	max-width: 1073px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	padding: 24px 24px 24px 200px;
	position: relative;
	bottom: -237.51px;
}

.userInfoImg {
	height: 132px;
	width: 132px;
	position: absolute;
	top: -44px;
	left: 24px;
	border-radius: 8px;
}

.userInfo button img {
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.center {
	display: flex;
	flex-direction: column;
}

.center div {
	display: flex;
	align-items: center;
	margin-bottom: 23px;
}

.name {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #333333;
	margin-right: 26px;
}

.follor span {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
}

.follor {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: #bdbdbd;
}

.follor:not(:first-child) {
	margin-left: 16px;
}

.text {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.035em;

	color: #828282;
}

.userInfo button {
	display: flex;
	align-items: center;
	background: #2f80ed;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #ffffff;
	padding: 8px;
}

.pen {
	position: absolute;
	right: 9px;
	top: 82px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.penBtn {
	position: absolute;
	right: 9px;
	top: 82px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	opacity: 0;
}

.penAvatar {
	position: absolute;
	left: 131px;
	top: -34px;
	height: 15px;
	width: 15px;
	cursor: pointer;
	z-index: 9;
}

.penAvatarBtn {
	position: absolute;
	left: 131px;
	top: -34px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	opacity: 0;
	z-index: 9;
}

@media screen and (max-width: 800px) {
	.userInfo {
		bottom: -270px;
		margin-bottom: 280px;
	}
	.userInfo {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.userInfoImg {
		top: -84px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.userInfo {
		padding: 24px;
		padding-top: 50px;
	}

	.center {
		margin-bottom: 15px;
	}

	.penAvatar {
		left: 57%;
		top: -74px;
	}

	.penAvatarBtn {
		left: 57%;
		top: -74px;
	}
}
