.skeleton {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #dedede;
	overflow: hidden;
	margin: 20px 0;
	border-radius: 8px;
	min-width: 745px;
	width: 100%;
}

.skeletonContent {
	padding: 20px;
}

.skeletonInfo {
	margin-left: 50px;
}

.skeletonUser {
	display: flex;
}

.skeletonUserDetails {
	display: flex;
	flex-direction: column;
}

.skeletonTags {
	display: flex;
}

.skeletonTags span {
	margin-right: 15px;
}

.editButtons {
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	opacity: 0;
	transition: all 0.15s ease-in-out;
}

@media screen and (max-width: 600px) {
}
