@font-face {
	font-family: 'Poppins';
	src: url(./assets/fonts/Poppins-Medium.ttf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans';
	src: url(./assets/fonts/NotoSans-Medium.ttf) format('opentype');
}

* {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding-top: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}
